#Rules: 
#1. key is string, value must be integer
#2. don't use Chinese input
#3. case sensitive
#4. NO SPACE charactor

#some words to describe the option
WmeTrackOption_EnableEC=1
WmeTrackOption_EnableVAD=0
WmeTrackOption_EnableNS=1
WmeTrackOption_EnableDropSeconds=0
#WmeTrackOption_EnableAll_Dumpfile=1
#WmeTrackOption_EnableCapture_Dumpfile=1
#WmeTrackOption_EnablePlayback_Dumpfile=1
#WmeTrackOption_EnableAEC_Dumpfile=1 