*/target
target
tmp
*~
lib
bin
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
local.properties
release.properties
*.iws
*.iml
gen
*/seed.txt
notes
logs
gen-external-apklibs
.idea
out
.DS_Store
classes
.classpath
.project
logcat.txt
test-output/*

*.prefs

app/res/values/com_crashlytics_export_strings.xml
app/libs/armeabi-v7a
app/obj
test_servers
